<h1>Log In</h1>

<form action="/api/sessions/login" method="post">
    <div>
        <label for="email">Enter your email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button id="buttonLogIn">Log In</button>
    </div>
</form>