<h1>Products</h1>

<ul>
    {{#each products}}
    <li>
        <h2>{{title}}</h2>
        <p>Price: ${{price}}</p>
        <p>Description: {{description}}</p>
    </li>
    {{/each}}
</ul>
<button id="ButtonLogOut">Log out</button>